node_modules/
dist/
.env
.angular/
.DS_Store
coverage/
*.js.map
.idea/
.vscode/
*.tgz
tmp/
out-tsc/
bazel-out/
node_modules/
build/
.sass-cache/
.connect.lock
libpeerconnection.log
testem.log
typings/
*.log
*.swp
*.swo
*~